/*
!/Pedro Lobato Hoyos.html
!/css/
!/js/
!/imagen/
!/favicon.svg

/css/*
!/css/style.css

/js/*
!/js/script.js

/imagen/*
!/imagen/*.jpg
!/imagen/gallery/
!/imagen/gallery/*.jpg
!/imagen/gallery/thumbs/
!/imagen/gallery/thumbs/*.jpg
